.date-picker-form{
    -fx-skin:"commons.ui.control.datepicker.DatePickerSkin";
    -fx-font-size : 14;
    -fx-font-family: "Roboto";
}
.form-text{
    -fx-background-color:white;
    -fx-background-insets: 0;
    -fx-border-color: #B3B9BF;
    -fx-border-radius: 2px;
}
.form-text-dark{
    -fx-background-color:transparent;
    -fx-background-insets: 0;
    -fx-text-fill:#D8DFE6;
}
.form-text-dark:focused,
.form-text-dark:pressed{
    -fx-background-color:transparent;
    -fx-background-insets: 0;
    -fx-text-fill:#D8DFE6;
}
.calendar-form-button{
    -fx-background-color: #ffffff;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-position:center;
    -fx-background-repeat: no-repeat no-repeat;
}
.calendar-form-button-dark{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-position:center;
    -fx-background-repeat: no-repeat no-repeat;
}
.calendar-form-button:focused{
     -fx-background-color: #ffffff;
     -fx-border-color: transparent;
     -fx-background-insets: 0;
     -fx-background-position:center;
     -fx-background-repeat: no-repeat no-repeat;
 }
.form-text:hover{
    -fx-border-color:#2196F3;
}
.form-text:focused{
    -fx-focus-color:transparent;
    -fx-border-color:#2196F3;
}
.date-picker-form:disabled{
    -fx-opacity:0.6;
}
.form-text-error{
    -fx-border-color:#E16B67;
}
.form-text:invalid{
    -fx-border-color:#E16B67;
    -fx-focus-color:none;
}
