#gk2tooltip{
    -fx-font-family: "Roboto";
    -fx-font-size:14px;
    -fx-text-fill:#2D3544;
    -fx-background-radius:3px;
    -fx-background-color:#E0EEFD;
    -fx-border-width:1.5px;
    -fx-border-radius:3px;
    -fx-border-color:#4089DF;
}

#tooltip_title{
    -fx-text-fill:#2D3544;
    -fx-font-size:18px;
    -fx-font-weight:bold;
}

#tooltip_contents{
    -fx-text-fill:#2D3544;
}

.primary-button{
    -fx-text-fill:white;
    -fx-background-radius: 2 2 2 2;
    -fx-border-radius: 2 2 2 2;
    -fx-background-color:#4189DD;
    -fx-background-insets: 0;
    -fx-border-width : 0.8;
    -fx-border-color : #2671CC;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size : 14;
    -fx-min-width: 75;
    -fx-min-height: 26;
}

.primary-button:focused{
    -fx-background-color:#4189DE;
    -fx-background-radius: 2 2 2 2;
    -fx-focused-color:#4189DE;
    -fx-faint-focused-color:#4189DE;
    -fx-border-radius: 2 2 2 2;
    -fx-effect: dropshadow(three-pass-box, rgba(65,137,221,0.8), 4, 0, 0, 0);
}

.primary-button:hover{
    -fx-background-color: #438FE7;
}

.primary-button:armed{
    -fx-background-color : #2671CC;
}

.primary-button:disabled{
    -fx-opacity : 0.6;
}
