.tertiary-button{
    -fx-background-color:#425575;
    -fx-min-width: 135;
    -fx-min-height: 35.5;
    -fx-border-width : 0.8;
    -fx-font-family: "Roboto";
    -fx-text-fill:white;
    -fx-background-radius: 2 2 2 2;
    -fx-border-radius: 2 2 2 2;
    -fx-background-insets: 0;
    -fx-font-weight: bold;
    -fx-font-size : 14;
}
.tertiary-button:focused{
    -fx-background-color:#425575;
    -fx-focus-color:red;
    -fx-effect: dropshadow(three-pass-box, rgba(38,57,89,0.8), 4, 0, 0, 0);

}
.tertiary-button:hover{
    -fx-background-color:#4A6085;
}
.tertiary-button:armed{
    -fx-background-color:#263959;
}
.tertiary-button:disabled{
    -fx-opacity : 0.6;
}