.table-view{
    -fx-border-color:#1D2B40;
    -fx-background-color: #1D2B40;
    -fx-border-width:0;
    -fx-text-fill:white;
    -fx-background-radius:2px;
    -fx-border-radius:2px;
    -fx-font-family: "Roboto";
}

.table-view:focused{
   -fx-border-color:#1D2B40;
    -fx-background-color: #1D2B40;
    -fx-border-width:0;
    -fx-text-fill:white;

    -fx-background-radius:2px;
    -fx-border-radius:0;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:horizontal{
    -fx-padding:-12;
}

.table-view .column-header {
    -fx-background-color: #2B4B75;
    -fx-border-color:#B3B9BF;
    -fx-border-width:0 1 0 0;
    -fx-border-style: segments(0, 2, 50, 15);
}

.table-view .column-header-background{
    -fx-background-color: #2B4B75;
    -fx-border-width:0 0 1 0;
    -fx-border-style:solid;
    -fx-border-color:#18324B;
    -fx-padding: 5 0 5 10;
    -fx-min-height:36px;
}

.table-view .column-header:last-visible {
    -fx-border-color:transparent;
}

.table-view .filler{
    -fx-opacity:0;
}

.table-row-cell {
    -fx-cell-size: 29px;
    -fx-fill: white;
}


.table-column{
    -fx-border-color:transparent;
    -fx-alignment:center_left;
    -fx-padding: 0 0 0 15;
    -fx-text-fill:white;
}


.table-column .label{
    -fx-text-fill: white;
    -fx-font-weight:bold;
    -fx-font-size:14px;
    -fx-alignment:center_left;
}

.table-row-cell:odd{
    -fx-background-color:#22324B;
    -fx-table-cell-border-color:#22324B;
    -fx-border-color:#22324B;

}
.table-row-cell:even{
    -fx-background-color:#1D2B40;
    -fx-table-cell-border-color:#1D2B40;
    -fx-border-color:#1D2B40;

}

.table-row-cell:selected {
   -fx-background-color: #4089DF;
}

.table-row-cell:selected .text {
    -fx-text-fill: white;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
    visibility: hidden;
}

.table-view > .virtual-flow > .scroll-bar:vertical > .thumb,
.table-view > .virtual-flow > .scroll-bar:horizontal > .thumb
{
    visibility: true;
    -fx-background-color:#B3B9BF;
    -fx-background-radius: 15;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

#tableview_title{
    -fx-font-family: "Roboto";
    -fx-background-color:#1D2B40;
    -fx-border-color:#2b3a4f;
    -fx-border-width:1px;
    -fx-font-size:14px;
    -fx-font-weight:bold;
}

#tableview_title_text{
    -fx-text-fill:#ADBED0;
}
