/*------ 배율 Button 부분 -------*/
.scroll-button{
    -fx-background-insets: 0;
    -fx-border-color:black;
    -fx-background-color:transparent;
    -fx-text-fill:black;
    -fx-font-size:8;
}
.scroll-button > .arrow-button > .arrow{
    -fx-background-color: transparent;
}

/*---- Scroll Bar 부분  -----*/
.scroll-bar:vertical{
    -fx-min-width:14;
    -fx-background-insets:0;
    -fx-background-color:transparent;
}
.scroll-bar:horizontal{
    -fx-min-height:14;
    -fx-background-insets:0;
    -fx-background-color: transparent;
    -fx-border-color:#868E95;
}
.scroll-bar:vertical .thumb{
    -fx-background-color:#B4B9BF;
    -fx-background-radius: 11em;
    -fx-background-insets:0 3.5 0 3.5;
}
.scroll-bar:horizontal .thumb{
    -fx-background-color:#B4B9BF;
    -fx-background-radius: 11em;
    -fx-background-insets:3.5 0 3.5 0;
}
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow{
    -fx-background-color: transparent;
}
.scroll-bar > .increment-button,
.scroll-bar > .decrement-button{
    -fx-background-color: transparent;
}
.scroll-bar .thumb:hover{
    -fx-background-color:#C7CCD2;
}
.scroll-bar .thumb:pressed{
    -fx-background-color:#A6AAB6;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {

}
.scroll-pane > .corner {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}
.scroll-pane:focused {
    -fx-background-insets: 0;
}
.scroll-pane{
    -fx-border-color:#E6E6E6;
    -fx-border-width:0;
    -fx-background-insets: 0;
}

/*--------  ChartData 부분 ---------*/
.bar-ew{
    -fx-fill:#B296E4;
}
.bar-ns{
    -fx-fill:#E08DCE;
}
