.event-prediction-chart{
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font-smoothing-type: gray;

}
.axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: transparent;
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.axis-tick-mark {
    -fx-fill: null;
    -fx-stroke: transparent;
}
.chart-horizontal-zero-line {
     -fx-stroke: #9AB3CA;
 }
.chart-vertical-zero-line {
     -fx-stroke: #9AB3CA;
     -fx-stroke-dash-array: none;
 }
.chart-vertical-grid-lines, .chart-horizontal-grid-lines {
    -fx-stroke: null;
}
.axis:top {
    -fx-border-color: transparent transparent transparent transparent;
}
.axis:right {
    -fx-border-color: transparent transparent transparent transparent;
}
.axis:bottom {
    -fx-border-color: transparent transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent transparent transparent transparent;
}

/* TextField */
.fds-text-field{
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
    -fx-border-radius: 2px;
    -fx-border-color: #B3B9BF;
    -fx-font-family: "Roboto";
    -fx-font-size : 12;
}
.fds-text-field:hover{

}
.fds-text-field:error{
    -fx-border-color:#F5B7B8;
}
.fds-text-field:focused{
    -fx-border-color:#2196F3;
    -fx-effect: dropshadow(three-pass-box, rgba(65,137,221,0.8), 4, 0, 0, 0);
}
.fds-text-field:disabled{
    -fx-opacity : 0.6;
}
.default-color0.chart-line-symbol {
    -fx-background-color: #EC6A5C, #EC6A5C;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color1.chart-line-symbol {
    -fx-background-color: #2571CB, #2571CB;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color0.chart-series-line { -fx-stroke: #EC6A5C; }
.default-color1.chart-series-line { -fx-stroke: #2571CB; }
.chart-line-symbol {
    -fx-background-insets: 0;
    -fx-background-radius: 0px;
    -fx-padding: 0px;
}
.default-color2.chart-line-symbol {
   -fx-background-insets: 0;
    -fx-background-radius: 0px;
    -fx-padding: 0px;
}

#data-invisible{
    -fx-background-color: white;
    -fx-stroke:white;
}
.invisible-color.chart-series-line {
    -fx-stroke: transparent;
}
.invisible-color.chart-line-symbol {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0px;
    -fx-padding: 0px;
}
.gradation-line{
    -fx-stroke:#9AB3CA;
}
