.axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: transparent;
}
.chart-plot-background {
    -fx-background-color: white;
}
.axis-tick-mark {
    -fx-fill: null;
    -fx-stroke: transparent;
}
.chart-horizontal-zero-line {
     -fx-stroke: #9AB3CA;
 }
.chart-vertical-zero-line {
     -fx-stroke: #9AB3CA;
     -fx-stroke-dash-array: none;

 }
.chart-vertical-grid-lines, .chart-horizontal-grid-lines {
    -fx-stroke: #9AB3CA;
}

.axis:top {
    -fx-border-color: transparent transparent transparent transparent;
}
.axis:right {
    -fx-border-color: transparent transparent transparent transparent;
}
.axis:bottom {
    -fx-border-color: transparent transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent transparent transparent transparent;
}

