#dialogwindow_shell{
    -fx-effect:dropshadow(gaussian, gray, 15, 0,0,0);
    -fx-font-family: "Roboto";
    -fx-font-size: 14pt;
    -fx-background-color:transparent;
}

#dialogwindow{
    -fx-background-color:white;
}

#dialogwindow_top{
    -fx-background-color:#345C8F;
}
#dialogwindow_top .label{
    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-font-size:14px;
}

#dialogwindow_bottom{
    -fx-background-color:#DFE5EC;
}

#dialogwindow_contents{
    -fx-font-size:14px;
    -fx-text-fill:#2d3544;
}

#dialogwindow_content_title{
    -fx-text-fill:#345C8F;
    -fx-font-weight:bold;
    -fx-font-size:16px;
}

.dialog_window .scroll-bar{
    -fx-background-color:transparent;
}

.dialog_window .scroll-bar:vertical {
    -fx-padding:-10;
}

.dialog_window .scroll-bar:horizontal {
    -fx-padding:-10;
}

.dialog_window .scroll-bar .thumb{
    -fx-background-color:#B4B9BF;
    -fx-background-radius: 15;

}

.dialog_window .scroll-bar > .increment-button > .increment-arrow,
.dialog_window .scroll-bar > .decrement-button > .decrement-arrow{
    -fx-background-color: transparent;
}

.dialog_window .scroll-bar > .increment-button,
.dialog_window .scroll-bar > .decrement-button{
    -fx-background-color: transparent;
}

.dialog_window .scroll-bar .thumb:hover{
    -fx-background-color:#C7CCD2;
}

.dialog_window .scroll-bar .thumb:pressed{
    -fx-background-color:#A6AAB6;
}

.dialog_window .scroll-pane:focused {
    -fx-background-insets: 0;
}
