.secondary-button{
    -fx-background-color:white;
    -fx-min-width: 135;
    -fx-min-height: 35.5;
    -fx-border-color : #2671CC;
    -fx-border-width : 0.8;
    -fx-background-radius: 2 2 2 2;
    -fx-border-radius: 2 2 2 2;
    -fx-background-insets: 0;
    -fx-font-family: "Roboto";
    -fx-text-fill:#4189DD;
    -fx-font-weight: bold;
    -fx-font-size : 14;
}
.secondary-button:focused{
    -fx-text-fill:white;
    -fx-background-color:#4189DE;
    -fx-background-radius: 2 2 2 2;
    -fx-border-radius: 2 2 2 2;
    -fx-effect: dropshadow(three-pass-box, rgba(65,137,221,0.8), 4, 0, 0, 0);
}
.secondary-button:hover{
    -fx-background-color: #438FE7;
    -fx-text-fill:white;
}
.secondary-button:armed{
    -fx-background-color : #2671CC;
}
.secondary-button:disabled{
    -fx-background-color:white;
    -fx-text-fill:#4189DD;
    -fx-opacity : 0.6;
}