.gk2-scroll-bar{
    -fx-background-color:transparent;

}
.gk2-scroll-bar .thumb{
    -fx-background-color:#B4B9BF;
}
.scroll-bar > .increment-button > .increment-arrow {
    -fx-background-color: transparent;
}
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
}
.gk2-scroll-bar .thumb:hover{
    -fx-background-color:#C7CCD2;
}
.gk2-scroll-bar .thumb:pressed{
    -fx-background-color:#A6AAB6;
}

