.header-button{
    -fx-background-color:
    linear-gradient(#F1F5F9, #DFE5EC);
    -fx-min-width: 135;
    -fx-min-height: 40px;
    -fx-background-insets: 0;
    -fx-border-radius: 2px;
    -fx-border-color: #B3B9BF;
    -fx-text-fill:black;
}
.header-button:disabled{
    -fx-opacity : 0.6;
}