.root{
    -fx-font-family: "Roboto";
}
.title-box{
    -fx-background-color:linear-gradient(#F1F5F9, #DFE5EC);
    -fx-padding: 3 0 3 10; -fx-border-width: 1 1 0 1;
    -fx-border-radius:3 3 0 0;
    -fx-background-radius: 3 3 0 0;
    -fx-border-color:#868E95
}
.title_label{
    -fx-text-fill:#5D646A;
    -fx-font-weight:bold;
    -fx-font-size:14;
}
.section_label{
    -fx-text-fill:#345C8F;
}
.section-contents-box{
    -fx-background-color:#F2F3F5;
    -fx-background-radius:1;
    -fx-border-color:#E8E9E9;
}
.viewer_button, .viewer_button:hover, .viewer_button:focused{
    -fx-background-color:transparent;
    -fx-min-width:16px;
    -fx-max-width:16px;
    -fx-max-height:16px;
    -fx-min-height:16px;
    -fx-border-width:0;
}
.header-label{
    -fx-font-size:15;
}
/* FDS Form Button */
.fds-form-button{
    -fx-background-color:#DEE5ED;
    -fx-background-insets: 0;
    -fx-border-radius: 2px;
    -fx-border-color: #B3B9BF;
    -fx-text-fill:#47494E;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size:12;
}
.fds-form-button:hover{
    -fx-background-color:#E8EFF7;
}
.fds-form-button:armed{
    -fx-background-color:#DEE5ED;
    -fx-border-color: #B3B9BF;
    -fx-effect: dropshadow(three-pass-box, rgba(65,137,221,0.8), 0, 0, 0, 0);
}
.fds-form-button:disabled{
    -fx-opacity : 0.6;
}

/* FDS ComboBox */
.fds-combo-box{
    -fx-background-color:#ffffff;
    -fx-background-insets: 0;
    -fx-border-color: #B3B9BF;
    -fx-border-radius: 2px;
    -fx-padding: -3,0,-3,0;
    -fx-font-size : 12;
}
.fds-combo-box > .arrow-button{
    -fx-background-image:url("../images/combobox_down.png");
        -fx-background-position:center;
    -fx-background-repeat: no-repeat no-repeat;
}
.fds-combo-box:hover{
    -fx-border-color:#2196F3;
}
.fds-combo-box:focused{
    -fx-border-color:#2196F3;
    -fx-effect: dropshadow(three-pass-box, rgba(65,137,221,0.8), 4, 0, 0, 0);
}
.fds-combo-box .list-view{
    -fx-border-color:#2196F3;
    -fx-effect: dropshadow(three-pass-box, rgba(65,137,221,0.8), 4, 0, 0, 0);
}
.fds-combo-box  .list-view .list-cell:odd{
    -fx-background-color:#EFF2F7;
}
.fds-combo-box .scroll-bar{
    -fx-background-color:transparent;
}
.fds-combo-box > .arrow-button > .arrow{
    -fx-background-color: transparent;
}
.fds-combo-box  .list-view .list-cell{
    -fx-background-insets:0;
}
.fds-combo-box  .list-view .list-cell:hover{
        -fx-background-color: #2196F3;
        -fx-focus-color: #2196F3;
}
.fds-combo-box  .list-view .list-cell:focused{
        -fx-background-color: #2196F3;
        -fx-border-color: #2196F3;
}
.fds-combo-box .scroll-bar:vertical .thumb{
    -fx-background-color: #B2B7BB;
    -fx-background-insets: 2.5;
}
.fds-combo-box .scroll-bar:vertical{
        -fx-background-color:transparent;
}
.fds-combo-box  .scroll-bar:vertical .decrement-arrow{
        -fx-background-color:transparent;
}
.fds-combo-box  .scroll-bar:vertical .increment-arrow{
        -fx-background-color:transparent;
}
.fds-combo-box:disabled{
    -fx-opacity : 0.6;
}

/* TextField */
.fds-text-field{
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
    -fx-border-radius: 2px;
    -fx-border-color: #B3B9BF;
    -fx-font-family: "Roboto";
    -fx-font-size : 12;
}
.fds-text-field:hover{

}
.fds-text-field:error{
    -fx-border-color:#F5B7B8;
}
.fds-text-field:focused{
    -fx-border-color:#2196F3;
    -fx-effect: dropshadow(three-pass-box, rgba(65,137,221,0.8), 4, 0, 0, 0);
}
.fds-text-field:disabled{
    -fx-opacity : 0.6;
}

/* FDS Spinner */
.fds-spinner{
    -fx-background-radius:2;
    -fx-border-color:#B3B98F;
    -fx-border-radius:2;
    -fx-background-insets:0;
    -fx-font-family: "Roboto";
    -fx-background-color:white;
}
.fds-spinner:hover{
    -fx-border-color:#2196F3;
}
.fds-spinner:focused{
    -fx-background-color:white;
    -fx-border-color:#2196F3;
}
.fds-spinner .text-field:focused{
    -fx-background-color:white;
}
.fds-spinner .text-field{
    -fx-background-color:white;
}
.fds-spinner:focused{
    -fx-background-radius:2;
    -fx-border-radius:2;
    -fx-background-insets:0;
    -fx-effect: dropshadow(three-pass-box, rgba(65,137,221,0.8), 4, 0, 0, 0);
}
.fds-spinner .increment-arrow-button{
    -fx-border-color:transparent;
    -fx-background-color:transparent;
    -fx-background-image:url("../images/up.png");
    -fx-background-position:top center;
    -fx-background-repeat: no-repeat no-repeat;
}
.fds-spinner .decrement-arrow-button{
    -fx-border-color:transparent;
    -fx-background-insets:0;
    -fx-background-color:transparent;
    -fx-background-image:url("../images/down.png");
    -fx-background-position:bottom center;
    -fx-background-repeat: no-repeat no-repeat;
}
.fds-spinner .increment-arrow-button .increment-arrow,
.fds-spinner .decrement-arrow-button .decrement-arrow{
    -fx-background-color:transparent;
}
.fds-spinner:disabled{
    -fx-opacity:0.6;
}

*FDS CheckBox */
.fds-check-box{
    -fx-background-radius:2;
    -fx-background-insets: 0;
    -fx-border-radius: 2px;
}
.fds-check-box > .box{
    -fx-background-insets: 0;
    -fx-border-color:#B3B98F;
    -fx-border-radius:2;
    -fx-background-color: white;
}
.fds-check-box:hover > .box{
    -fx-border-color:#3C92E7;
    -fx-background-color:white;
}
.fds-check-box:focused > .box{
    -fx-border-color:#2671CE;
    -fx-background-color:white;
}
.fds-check-box > .box > .mark >{
    -fx-min-width:12;
    -fx-min-height:12;
    -fx-background-color:transparent;
}
.fds-check-box:selected > .box{
    -fx-background-color:#2272D1;
    -fx-background-radius:2;
    -fx-border-color:transparent;
    -fx-background-image:url("../images/check_white.png");
    -fx-background-position:center;
    -fx-background-repeat: no-repeat no-repeat;
}
.fds-check-box:selected > .box:hover{
    -fx-background-color:#3C92E7;
}
.fds-check-box:selected > .box:pressed{
    -fx-background-color:#2970CC;
}
.fds-check-box:selected > .box:focused{
    -fx-background-color:#2272D1;
}
.fds-check-box:disabled{
    -fx-opacity : 0.6;
}

/* Table View */
.fds-table-view{
    -fx-border-color:#868E95;
    -fx-border-width:1;
    -fx-border-radius:2;
    -fx-font-family: "Roboto";
}

.fds-table-view:focused{
    -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
}

.fds-table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color:#B3B9BF;
    -fx-border-width:0 1 0 0;
    -fx-border-style: segments(0, 2, 50, 15);
}
.fds-table-view .column-header .label{
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.fds-table-view .column-header-background{
    -fx-background-color: white;
    -fx-border-width:0 0 1 0;
    -fx-border-style:solid;
    -fx-border-color:#B3B9BF;
    -fx-padding: -2;
}

.fds-table-view .column-header:last-visible {
    -fx-border-color:transparent;
}

.fds-table-view .filler{
    -fx-opacity:0;
}

.fds-table-view .table-row-cell {
    -fx-cell-size: 24px;
}
.fds-table-view .table-row-cell .text{
    -fx-fill:#25292e;
}
.fds-table-view .table-column{
    -fx-border-color:transparent;
    -fx-alignment:center_left;
    -fx-padding: 0 0 0 15;
}

.fds-table-view .table-column .label{
    -fx-text-fill: #61718B;
    -fx-font-weight:bold;
    -fx-font-size:14px;
    -fx-alignment:center_left;
}

.fds-table-view .table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #EFF3F7;
}

.fds-table-view .table-row-cell:selected {
   -fx-background-color: #4089DF;
}

.fds-table-view .table-row-cell:selected .text {
    -fx-fill: white;
}

.fds-table-view > .virtual-flow > .scroll-bar:vertical,
.fds-table-view > .virtual-flow > .scroll-bar:horizontal{
    -fx-padding:-12;
}

.fds-table-view > .virtual-flow > .scroll-bar:vertical,
.fds-table-view > .virtual-flow > .scroll-bar:vertical > .track,
.fds-table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.fds-table-view > .virtual-flow > .scroll-bar:horizontal,
.fds-table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.fds-table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
    visibility: hidden;
}

.fds-table-view > .virtual-flow > .scroll-bar:vertical > .thumb,
.fds-table-view > .virtual-flow > .scroll-bar:horizontal > .thumb
{
    visibility: true;
    -fx-background-color:#B3B9BF;
    -fx-background-radius: 15;
}

.fds-table-view > .virtual-flow > .scroll-bar > .increment-button,
.fds-table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.right-arrow-button, .left-arrow-button,
.right-arrow-button:hover, .left-arrow-button:hover,
.right-arrow-button:focused, .left-arrow-button:focused{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
}

/* ScrollPane */
.fds-scroll-pane > * > .scroll-bar:vertical{
    -fx-min-width:14;
    -fx-background-insets:0;
    -fx-background-color:transparent;
}
.fds-scroll-pane > * > .scroll-bar:horizontal{
    -fx-min-height:14;
    -fx-background-insets:0;
    -fx-background-color: transparent;
    -fx-border-color:#868E95;
}
.fds-scroll-pane > * > .scroll-bar:vertical .thumb{
    -fx-background-color:#B4B9BF;
    -fx-background-radius: 11em;
    -fx-background-insets:0 3.5 0 3.5;
}
.fds-scroll-pane > * > .scroll-bar:horizontal .thumb{
    -fx-background-color:#B4B9BF;
    -fx-background-radius: 11em;
    -fx-background-insets:3.5 0 3.5 0;
}
.fds-scroll-pane > * > .scroll-bar > .increment-button > .increment-arrow,
.fds-scroll-pane > * > .scroll-bar > .decrement-button > .decrement-arrow{
    -fx-background-color: transparent;
}
.fds-scroll-pane > * > .scroll-bar > .increment-button,
.fds-scroll-pane > * > .scroll-bar > .decrement-button{
    -fx-background-color: transparent;
}
.fds-scroll-pane > * > .scroll-bar .thumb:hover{
    -fx-background-color:#C7CCD2;
}
.fds-scroll-pane > * > .scroll-bar .thumb:pressed{
    -fx-background-color:#A6AAB6;
}
.fds-scroll-pane > * > .scroll-bar:horizontal .thumb,
.fds-scroll-pane > * > .scroll-bar:vertical .thumb {

}
.fds-scroll-pane > .corner {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}
.fds-scroll-pane:focused {
    -fx-background-insets: 0;
}
.fds-scroll-pane{
    -fx-border-color:#868E95;
    -fx-background-insets: 0;
}
