.gk2-radio-button .radio{
    -fx-font-size:20;
    -fx-padding: 4px;
    -fx-border-radius: 15px;
    -fx-border-color:#B3B98F;
    -fx-background-color:white;
}
.gk2-radio-button:hover > .radio{
    -fx-border-color:#3C92E7;
}
.gk2-radio-button:focused > .radio{
     -fx-border-color:#2671CE;
}
 .gk2-radio-button:armed > .radio{
     -fx-border-color:#2970CC;
}
.gk2-radio-button:selected .radio .dot{
    -fx-background-insets:0;
    -fx-background-color:#2671CE;
}
.gk2-radio-button:selected .radio:hover .dot{
    -fx-background-color:#3C92E7;
}
.gk2-radio-button:selected .radio .dot:armed{
    -fx-background-color:#2970CC;
}
.gk2-radio-button:selected .radio:focused .dot{
    -fx-background-color:#2272D1;
}
.gk2-radio-button:disabled{
    -fx-opacity : 0.6;
}