.textarea{
    -fx-background-color: #ffffff;
    -fx-min-width: 10;
    -fx-min-height: 10;
    -fx-background-insets: 0;
    -fx-border-radius: 2px;
    -fx-border-color: #B3B9BF;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: none;
    -fx-background-insets:0;
}
.textarea:focused{
    -fx-background-color:transparent;
    -fx-background-insets:0;
}
.textarea:error{
    -fx-border-color:#F5B7B8;
}
.textarea:focused{
    -fx-border-color:#2196F3;;
    -fx-effect: dropshadow(three-pass-box, rgba(65,137,221,0.8), 4, 0, 0, 0);
}
.textarea:disabled{
    -fx-opacity : 0.6;
}
.text-area > .scroll-pane > .scroll-bar:horizontal {
    -fx-background-color:white;
}
.text-area > .scroll-pane > .scroll-bar:horizontal .decrement-arrow,
.text-area > .scroll-pane > .scroll-bar:horizontal .increment-arrow{
    -fx-background-color:white;
}
.text-area > .scroll-pane > .scroll-bar:vertical .decrement-arrow,
.text-area > .scroll-pane > .scroll-bar:vertical .increment-arrow{
    -fx-background-color:white;
}
.text-area > .scroll-pane > .scroll-bar:vertical {
    -fx-background-color:white;
}
.text-area > .scroll-pane > .corner{
    -fx-background-color:white;
}
.text-area > .scroll-pane > .scroll-bar .thumb{
    -fx-background-color: #B2B7BB;
    -fx-background-insets: 2.5;
}