.chart-plot-background {
    -fx-background-color: transparent;
}
.default-color1.chart-symbol { /* solid square */
    -fx-background-color: #0000FF;
    -fx-background-radius: 0;
}
.default-color2.chart-symbol { /* solid diamond */
    -fx-background-color: #005900;
    -fx-background-radius: 0;
    -fx-padding: 7px 5px 7px 5px;
    -fx-shape: "M5,0 L10,9 L5,18 L0,9 Z";
}
