.gk2-accordion{
    -fx-border-color:transparent;
}
.accordion > .titled-pane{
    -fx-min-width : 100;
    -fx-border-color:#B3B98F;
    -fx-border-width:0.4;
}
.accordion > .titled-pane > .title > .arrow-button{
   -fx-background-image:url("down.png");
   -fx-background-position:center;
   -fx-background-repeat: no-repeat no-repeat;
}
.accordion > .titled-pane > .title > .arrow-button > .arrow {
   -fx-background-color:transparent;
}
.accordion > .titled-pane > .title{
}