/*.preTableView .column-header-background{
    -fx-background-color:red;
}*/
.root{
    -fx-font-family: "Roboto";
}
.spinner, .text-field, .combo-box{
    -fx-min-height:28;
    -fx-max-height:28;
}
.header-button{
    -fx-min-height:28;
    -fx-max-height:28;
}
.label{
    -fx-text-fill:#47494E;
}
.section_label{
    -fx-text-fill:#345C8F;
}
.title_label{
    -fx-text-fill:#5D646A;
    -fx-font-weight:bold;
    -fx-font-size:14;
}
.viewer_button, .viewer_button:hover, .viewer_button:focused{
    -fx-background-color:transparent;
    -fx-min-width:16px;
    -fx-max-width:16px;
    -fx-max-height:16px;
    -fx-min-height:16px;
    -fx-border-width:0;
}
.output-data-grid-header{
    -fx-background-color:white;
    -fx-border-color:#868E95;
    -fx-border-width: 0 1 0 1;
}
.station-data-grid-header{
    -fx-background-color:white;
    -fx-border-color:#B3B9BF;
    -fx-border-width: 1 1 0 1;
}
.station-data-grid-header-label{
    -fx-text-fill: #61718B;
    -fx-font-weight:bold;
    -fx-font-size:14px;
}
.station-data-grid-cell-odd{
    -fx-background-color:#EFF3F7;
}
.station-data-grid-cell-even{
    -fx-background-color:red;
}
